<!DOCTYPE html>
<html ng-app="dscvrspace">
  <head>
    <title>dscvrspace</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/angular/angular.min.js'></script>
    <script src='/bower_components/angular-route/angular-route.min.js'></script>
    <script src='/bower_components/three.js/build/three.min.js'></script>
    <script src='/bower_components/three.js/examples/js/controls/OrbitControls.js'></script>
    <script src='/js/angularApp.js'></script>
    <script src='/js/helpers/orbitModellerService.js'></script>
    <script src='/js/services/sceneFactory.js'></script>
    <script src='/js/services/systemService.js'></script>
    <script src='/js/controllers/systemController.js'></script>
  </head>
  <body class="ds-darkest" ng-controller="mainController" >
    <div class="navbar-fixed">
      <nav class="ds-darker">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo right">dscvrspace</a>
          <ul class="left hide-on-med-and-down">
            <li><a href="/home">Accueil</a></li>
            <li><a href="/solarSystem">Système solaire</a></li>
            <li><a href="/about">À propos</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div ng-view></div>
  </body>
</html>
