<!DOCTYPE html>
<html ng-app="dscvrspace">
  <head>
    <title>dscvrspace</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="/bower_components/angularjs-datepicker/dist/angular-datepicker.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	  <script type="text/javascript" src="/js/scripts/angular-locale_fr-ca.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js"></script>
    <script src="/bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script src='/bower_components/angular-route/angular-route.min.js'></script>
    <script src='/bower_components/three.js/build/three.min.js'></script>
    <script src='/bower_components/three.js/examples/js/controls/OrbitControls.js'></script>
    <script src='/bower_components/three.js/examples/js/renderers/Projector.js'></script>

    <script src='/js/angularApp.js'></script>
    <script src='/js/helpers/errorManagerHelper.js'></script>
    <script src='/js/helpers/planetListsHelper.js'></script>
    <script src='/js/helpers/orbitModellerService.js'></script>
    <script src='/js/helpers/sceneFactoryHelper.js'></script>
    <script src='/js/directives/keypressEnterDirective.js'></script>
    <script src='/js/services/sceneFactory.js'></script>
    <script src='/js/services/systemService.js'></script>
    <script src='/js/services/neoFactory.js'></script>
    <script src='/js/controllers/mainController.js'></script>
    <script src='/js/controllers/systemController.js'></script>
    <script src='/js/controllers/neoSearchController.js'></script>
    <script src='/js/controllers/neoDetailsController.js'></script>
    <script src='/js/controllers/systemDetailController.js'></script>
  </head>
  <body class="ds-darkest" ng-controller="MainController" ng-init="requestedLocation = '<%=location%>'">
    <div class="navbar-fixed">
      <ul id="navbarSystemDropdown" class="dropdown-content">
        <li ng-repeat="item in navbarItems track by $index"><a class="ds-dropdown-item" href="{{item.url}}">{{item.display_name}}</a></li>
      </ul>
      <nav class="ds-darker">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo right">DSCVRSpace</a>
          <ul class="left hide-on-med-and-down">
            <li><a href="/home">Accueil</a></li>
            <li><a class="dropdown-button" data-beloworigin="true" data-activates="navbarSystemDropdown">Planètes<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="/neo">Astéroïdes</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div ng-view autoscroll="true"></div>
  </body>
</html>
<script>
	$(document).ready(function () {
		$(".dropdown-button").dropdown();
	})
</script>

