<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col s12" style="margin-left:-0.75rem;">
            <div style="margin-left:-0.75rem;">
                <h3 class="ds-light-text">Rechercher des astéroïdes</h3>
                <p class="ds-light-text flow-text" style="font-size:medium;">Cet engin de recherche permet d'accéder au jeu de données du Jet Propulsion Laboratory ( JPL ) recensant les différents astéroïdes du système solaire.</p>
            </div> 
            <div class="row">
                    <div class="col s12">
                        <select class="ds-select" ng-options="v for v in searchMethod.values"
                        ng-model="searchMethod.value" ng-change="updateSearchMethod()">
                            <!--<option>Rechercher par identifiant</option>
                            <option>Rechercher par intervalle entre deux dates</option>
                            <option>Tous les astéroïdes</option>-->
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="searchMethodIndex === 0">
                <div class="col s11" style="padding:0px;">
                    <input class="ds-search-bar" type="text" id="search-bar" placeholder="Rechercher..." ng-keydown="($event.which === 13)?searchNeoById():0"></input>
                </div>
                <div class="col s1" style="padding:0px;">
                    <button class="btn ds-lightest ds-button"><i class="material-icons">search</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">

        </div>
    </div>
</div>