<div class="container" style="margin-top:20px">
    <div class="row ds-info-row ds-info-section-row" style="padding:0px 10px;">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <div>
                        <h3 class="ds-light-text">Rechercher des astéroïdes</h3>
                        <p class="ds-light-text flow-text" style="font-size:medium;">Cet engin de recherche permet d'accéder au jeu de données du Jet Propulsion Laboratory ( JPL ) recensant les différents astéroïdes du système solaire.</p>
                    </div> 
                    <select class="ds-select" ng-options="v for v in searchMethod.values"
                    ng-model="searchMethod.value" ng-change="updateSearchMethod()">
                    </select>
                    <div ng-show="searchMethodIndex === 0" style="padding:0px;margin-top:20px;">
                        <div class="col s11" style="padding:0px">
                            <input class="ds-search-bar" type="text" id="search-bar" placeholder="Rechercher..." ng-keydown="($event.which === 13)?searchNeoById():0"></input>
                        </div>
                        <div class="col s1" style="padding-left:0px;padding-right:20px;">
                            <button class="btn ds-lightest ds-button"><i class="material-icons">search</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ds-info-detail-row" ng-show="results.length > 0" style>
                <div class="col s12">
                    <div>
                        <ul class="collection">
                            <li class="collection-item" ng-repeat="neo in results" ng-click="navigateToNeoDetail(neo)"><a>{{neo.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>