<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col s11" style="padding:0px;">
            <input class="ds-search-bar" type="text" id="search-bar" placeholder="Rechercher..." ng-keydown="($event.which === 13)?searchNeoById():0"></input>
        </div>
        <div class="col s1" style="padding:0px;">
            <button class="btn ds-lightest ds-button"><i class="material-icons">search</i></button>
        </div>
    </div>
    <div class="row">
        yeah
    </div>
</div>