<div>
    <div id="scene-div">
        <div id="scene-orientation-div"/>
    </div>
    <div id="scene-controls-div" class="ds-darker" style="width:100%;">
        <ul class="ds-orbit-controls" style="display:inline;">
            <li><button class="btn-large ds-lightest ds-button" style="margin-right:50px;"><i class="large material-icons">refresh</i></button></li>
            <li><button class="btn-large ds-lightest ds-button" ng-click="zoomIn()"><i class="large material-icons">zoom_in</i></button></li>
            <li><button class="btn-large ds-lightest ds-button" ng-click="zoomOut()"><i class="large material-icons">zoom_out</i></button></li>
        </ul>
        <ul class="ds-orbit-controls right" style="display:inline;margin:0px;">
            <li><button class="btn-large ds-lightest ds-button"><i class="large material-icons">keyboard_arrow_left</i></button></li>
            <li><button class="btn-large ds-lightest ds-button"><i class="large material-icons">keyboard_arrow_up</i></button></li>
            <li><button class="btn-large ds-lightest ds-button"><i class="large material-icons">keyboard_arrow_down</i></button></li>
            <li><button class="btn-large ds-lightest ds-button"><i class="large material-icons">keyboard_arrow_right</i></button></li>
        </ul>
    </div>
</div>
