<div class="container" style="margin-top:20px;">
    <div class="row ds-info-row">
        <div class="col s12">
            <div class="row ds-info-section-row">
                <div class="col s12">
                    <div class="valign-wrapper">
                        <i class="material-icons medium valign" style="display:inline-block;">description</i>
                        <h4 class="valign" style="display:inline-block;">Fiche d'identification</h4>
                    </div>
                </div>
            </div>
            <div class="row ds-info-detail-row">
                <div class="col s6" style="margin-top:10px">
                    <img class="responsive-img" src="{{system.body.media_url}}"/>
                </div>
                <div class="col s6">
                    <h5>Nom</h5>
                    <p>{{system.name_fr}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <!--<a class="btn ds-button ds-lightest" target="_blank" href="{{neo.nasa_jpl_url}}" style="margin-left:10px;"><i class="material-icons right">open_in_new</i>Fiche complète sur le site du JPL</a>-->
                </div>
            </div>
        </div>
    </div>
</div>