<!DOCTYPE html>
<html>
  <head>
    <title>DSCVR.space</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DSCVR.space</h1>
    <p>Welcome to DSCVR.space</p>
  </body>
</html>
