<!DOCTYPE html>
<html>
  <head>
    <title>DSCVR.space</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DSCVR.space</h1>
    <p>Welcome to DSCVR.space</p>
    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/nasacommons/9467438810/in/album-72157650651232765/" title="Series of Images from SOHO"><img src="https://c3.staticflickr.com/3/2852/9467438810_61f2ac2b17_h.jpg" width="1600" height="800" alt="Series of Images from SOHO"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  </body>
</html>
